body {
    background-color: #E4E4E4;
    font-family: Arial,Helvetica,sans-serif;
    color: #000;
}
.header {
    /*TODO
    Сделать все в % и EM */
    background-color: #9E9E9E;
    position: absolute;
    width: 100%;
    height: 214px;
    border-width: .2em;
    border-bottom-width: .2em;
    border-bottom-color: #E69000;
    border-bottom-style: solid;
}
.content-header {
    position: relative;
    background-image: url(../img/content-header.jpg);
    float: left;
    height: 213px;
    width: 1200px;
    background-size: 1400px 250px;
}
.logo-content-header {
    margin-left: 2%;
    margin-top: 2%;
}

.side-menu {
    position: relative;
    margin-top: .3em;
    background-color: #FFFFFF;
    padding: 2em;
}

.sideSearchbox {
    position: relative;
    height: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
}
.searchboxField {
    width: 100%;
    /*position: absolute;
    top: 1px;

    height: auto;
    padding: 8px 40px 7px 9px;
    margin: 0px;
    display: inline;*/
}

.searchSubmit {
    position: absolute;
    right: 1%;
    top: .45em;
    /*top: 3px;
    left: 137px;
    height: 28px;
    width: 28px;

    padding: 0px;*/
}

.side-menu ul {
    list-style-type: none;
    padding-left: 1em;
    padding-top: 2em;
}

.side-menu ul a {
    text-decoration: none;
    text-align: left;
    color: #000;
}

.side-menu ul a:hover {
    color: #ED8C00;
}

.content-box {
    margin-top: .3em;
    background-color: #FFFFFF;
    padding: 2em;
}

.navigation {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.8em;
    width: auto;
    line-height: 100%;
}

.navigation ul li {
    display: block;
    position: relative;
    background:rgba(255,255,255,0.8);
    font-size: 1em;
    padding: .93em .5em;
    list-style-type: none;
    float: left;
    border-right: 1px solid #fff;
    z-index: 1;
}

.firstlvlnav li a {
    text-decoration: none;
    float: left;
    color: #000000;
}

.firstlvlnav li:hover {
    background-color: #fff;
}

/* Второй уровень меню */

/* Отдельный стек для анимации меню*/
#NavOfenmenu {
    display: none;
}
#NavOfenHover:hover #NavOfenmenu {
    left: 0;
    display: block;
}

#NavTovarimenu {
    display: none;
}
#NavTovariHover:hover #NavTovarimenu {
    left: 0;
    display: block;
}

#NavServicemenu {
    display: none;
}
#NavServiceHover:hover #NavServicemenu {
    left: 0;
    display: block;
}

#NavInfomenu {
    display: none;
}
#NavInfoHover:hover #NavInfomenu {
    right: 0;
    display: block;
}

#NavCompanymenu {
    display: none;
}
#NavCompanyHover:hover #NavCompanymenu {
    right: 0;
    display: block;
}

#NavContactsmenu {
    display: none;
}
#NavContactsHover:hover #NavContactsmenu {
    right: 0;
    display: block;
}
/* Конец стека*/

.navigation .secondlvlnav {
    position: absolute;
    top: 2.35em;

    background-color: #fff;
    width: 550px;
    padding-top: .7em;
}

.navelement {
    display: block;
    width: 45%;
    float: left;
    padding: .5em .5em;
}

.navelement img {
    display: block;
    float: left;
    padding-right: 1em;
}

.bodyofelement {
    display: block;
}

.headerofelem {
    font-size: .7em;
    font-weight: 800;

}

.elemdescription {
    font-size: .6em;
}
/* Конец навигации */

/* Страница категорий */

.catbox {
    width: 172px;
    min-height: 320px;
    height: 360px;
    float: left;
    margin: 0px 40px 20px 0px;
    padding: 5px;
    position: relative;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.catbox:hover {
    box-shadow: 0 0 .3em rgba(0,0,0,0.3);
}
.catbox .listItemtext {
    vertical-align: bottom;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
}

.catbox h2 {
    color: #545454;
    font-size: 1.15em;
    font-weight: normal;
    margin: .35em 0 .1em 0;

}
.catbox p {
    font-size: .78em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer {
    position: relative;
    float: left;
    width: 100%;
    height: 240px;
    display: block;
    background-image: url(../img/bg-footer.jpg);
    background-repeat: repeat-x;
    line-height: 140%;
    font-size: 0.80em;
    color: #4d4d4d;
    z-index: 8;
}

.footer .leftFooterMenu {
    float: left;
}

.footer ul {
    padding: 2em;
    position: block;
    list-style-type: none;
}

.footer img {
    padding-top: 2em;
}

.footer p {
    text-align: right;
    padding: 2em;
}