body {
    background-color: #E4E4E4;
    font-family: Arial,Helvetica,sans-serif;
    color: #000000;
}

#lightbox-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    filter: alpha(opacity=35);
    -moz-opacity: 0.45;
    -khtml-opacity: 0.45;
    opacity: 0.45;
    z-index: 999;
    display: none;
}
.header {
    /*TODO
    Сделать все в % и EM */
    background-color: #9E9E9E;
    position: absolute;
    width: 100%;
    height: 214px;
    border-width: .2em;
    border-bottom: solid #E69000;
}

.header-main-page {
    background-color: #9E9E9E;
    position: relative;
    width: 100%;
    height: 30px;
    border-width: .2em;
    border-bottom: solid #E69000;
}

.content-header {
    position: relative;
    background-image: url(/static/assets/img/content-header.jpg);
    float: left;
    height: 213px;
    background-size: 1400px 250px;
}

.main-page-banner {
    width: 1400px;
    min-height: 680px;
    float: left;
    z-index: 1;
}
/*trick for main page banner nav*/
.main-page-banner .navigation {
    top: 0;
}

.wrap-main-logo {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 4em;
    left: 3em;
    height: 210px;
    width: 296px;
}

.wrap-main-logo img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.side-menu {
    position: relative;
    margin-top: .3em;
    background-color: #FFFFFF;
    padding: 2em;
    /*height: 1000px;*/
}

.side-search {
    position: relative;
    height: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
}
.search-field {
    width: 100%;
}

.search-submit {
    position: absolute;
    right: 1%;
    top: .45em;
}

.side-menu ul {
    list-style-type: none;
    padding-left: 1em;
    padding-top: 2em;
}

.side-menu ul a {
    text-decoration: none;
    text-align: left;
    color: #000000;
}

.side-menu ul a:hover {
    color: #ED8C00;
}

.content-box {
    margin-top: .3em;
    background-color: #FFFFFF;
    padding: 2em;
}

.content-box h1 {
    color: #545454;
    font-size: 2.1em;
}

.content-box h2 {
    color: #545454;
    font-size: 1.8em;
}

.content-box h3 {
    color: #545454;
    font-size: 1.4em;
}

.pages-content {
    background-color: #FFFFFF;
    color: #545454;
    font-size: 1.1em;
    padding: 2em 8em;
}

.pages-content h1 {
    font-size: 2.1em;
}

.pages-content h2 {
    font-size: 1.9em;
}

.pages-content h3 {
    font-size: 1.7em;
}

.pages-content ul {
    list-style: square;
    list-style-position: inside;
}

.navigation {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.8em;
    width: auto;
    line-height: 100%;
}
.parent-names {
    text-transform: uppercase;
}
.fix-nav-on-main-properties {
    top: 0;
}

.logo-content-header {
    margin-left: 2%;
    margin-top: 2%;
}

.navigation ul li {
    display: block;
    position: relative;
    background:rgba(255,255,255,0.8);
    font-size: 1em;
    padding: .93em .5em;
    list-style-type: none;
    float: left;
    border-right: 1px solid #FFFFFF;
    z-index: 1000;
}

.navigation li a {
    text-decoration: none;
    float: left;
    color: #000000;
}

.navigation li:hover {
    background-color: #FFFFFF;
}

/* Второй уровень меню */

/* Отдельный стек для анимации меню*/
#nav-ofen-menu {
    display: none;
}
#nav-ofen-hover:hover #nav-ofen-menu {
    left: 0;
    display: block;
}

#nav-card-menu {
    display: none;
}
#nav-card-menu-hover:hover #nav-card-menu {
    left: -200px;
    display: block;
}

#nav-service-menu {
    display: none;
}
#nav-service-menu-hover:hover #nav-service-menu {
    right: 0;
    display: block;
}

#nav-info-menu {
    display: none;
}
#nav-info-menu-hover:hover #nav-info-menu {
    right: 0;
    display: block;
}

#nav-company-menu {
    display: none;
}
#nav-company-menu-hover:hover #nav-company-menu {
    right: 0;
    display: block;
}

#nav-contacts-menu {
    display: none;
}
#nav-contacts-menu-hover:hover #nav-contacts-menu {
    right: 0;
    display: block;
}
/* Конец стека*/

.navigation .second-lvl-nav {
    position: absolute;
    top: 2.35em;

    background-color: #FFFFFF;
    width: 550px;
    padding-top: .7em;
}

.nav-element {
    display: block;
    width: 45%;
    float: left;
    padding: .5em .5em;
}

.nav-element img {
    display: block;
    float: left;
    padding-right: 1em;
}

.nav-element i {
    display: block;
    float: left;
    padding-right: .3em;
    color: #545454;
}

.body-of-the-element {
    display: block;
}

.header-of-the-element {
    font-size: .7em;
    font-weight: 800;

}

.element-description {
    font-size: .75em;
}
/* Конец навигации */

/* Страница категорий */

.box-category {
    width: 172px;
    min-height: 320px;
    height: 360px;
    float: left;
    margin: 0 40px 20px 0;
    padding: 5px;
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.box-category:hover {
    box-shadow: 0 0 .3em rgba(0,0,0,0.3);
}
.box-category .list-item-text {
    vertical-align: bottom;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-category h2 {
    color: #545454;
    font-size: 1.15em;
    font-weight: normal;
    margin: .35em 0 .1em 0;

}
.box-category p {
    font-size: .78em;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #000000;
}
/* Страница с товарами */

.box-items {
    width: 190px;
    min-height: 240px;
    height: 260px;
    float: left;
    margin: 0 40px 20px 0;
    padding: 5px;
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.box-items .wrap-img {
    min-height: 190px;
}

.box-items .wrap-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.box-items hr {
    margin: 0;
    padding: 0;
}

.box-items:hover {
    box-shadow: 0 0 .3em rgba(0,0,0,0.3);
}
.box-items .list-item-text {
    vertical-align: bottom;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
}

.box-items h2 {
    color: #545454;
    font-size: 1.15em;
    font-weight: normal;
    margin: .35em 0 .1em 0;

}
.box-items p {
    font-size: .78em;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #000000;
}


.footer {
    position: relative;
    float: left;
    width: 100%;
    height: 240px;
    display: block;
    background: url(/static/assets/img/bg-footer.jpg) repeat-x;
    line-height: 140%;
    font-size: 0.80em;
    color: #545454;
    z-index: 1;
}

.footer .left-footer-menu {
    float: left;
}

.footer ul {
    padding: 2em;
    display: block;
    list-style-type: none;
}

.footer img {
    padding-top: 2em;
}

.footer p {
    text-align: right;
    padding: 2em;
}
.footer a {
    text-decoration: none;
    color: #545454;
}
.footer a:hover {
    text-decoration: underline;
}
.clear {
    clear:both;
}
.btn-category {
    color: #545454;
    background: #E4E4E4;
    /*padding: 10px 20px 10px 20px;*/
    padding: 0 1em;
    margin: .25em .25em;
    width: 49%;
    border-radius: 0;
    text-decoration: none;
    border: none;
    text-transform: none;
    font-size: 1em;
    font-weight: 400;
}

.btn-category:hover {
    color: #E69000;
}

.details ul {
    list-style: square;
    list-style-position: outside;
    padding-left: 1em;
}

.details .ico-doc {
    text-decoration: none;
    color: #545454;
}

.details .ico-doc:hover {
    color: #E69000;
}

/* Обратная связь */
.feedback-title {
    font-size: 1.3em;

}
.default-form-handler {
    /* Здесь можно указать поля, границы для заявки */
}

.default-form-handler dt {
    color: #545454;
}
.comm-form-hold input, textarea {
    width: 60%;
    border-radius: 0;
}
.comm-form-hold dd {
}

.error-page {
    text-align: center;
    color: #a0a0a6;
}

.error-page .title {
    font: 4em sans-serif;
}

.error-page .text {
    font: 2.5em sans-serif;
}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .comm-form-hold input, textarea {
        width: 75%;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .comm-form-hold input, textarea {
        width: 98%;
    }
    }


