@import 'const', 'media', 'tricks';

  ////////
 //BASE//
////////

body {
    background-color: $light-gray;
    font-family: Helvetica,Arial,sans-serif;
    color: $gray_0;
}
.container {
    width: 100%;
    @include media_S { margin: 0; padding: 0; }
}

ul {
    list-style: square;
    list-style-position: outside;
    padding-left: 1em;
}

#lightbox-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    filter: alpha(opacity=35);
    -moz-opacity: 0.45;
    -khtml-opacity: 0.45;
    opacity: 0.45;
    z-index: 999;
    display: none;
}

  //////////
 //HEADER//
//////////
;
.header-main-page {
    background-color: $gray_1;
    position: relative;
    width: 100%;
    height: 2em;
    border-bottom: .2em solid $orange
}

.header {
    background-color: $gray_1;
    position: absolute;
    width: 100%;
    height: 14em;
    border-bottom: .2em solid $orange;
}

.content-header {
    position: relative;
    background-image: url(/static/assets/img/content-header.jpg);
    float: left;
    height: 14em;
    background-size: 1400px 14em;
    .logo-content-header {
        margin-left: 2%;
        margin-top: 2%;
    }
}

.flags {
    position: absolute;
    padding-left: 5%;
    padding-top: 4px;
    z-index: 100;
}
.flags img {
    padding-right: .6em;
}

  /////////
 //INDEX//
/////////

.main-page-banner {
    min-width: 100%;
    min-height: 680px;
    float: left;
    z-index: 1;
}
/*trick for main page banner nav*/
.main-page-banner .navigation {
    top: 0;

}

.wrap-main-logo {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 4em;
    left: 3em;
    height: 210px;
    width: 296px;
    @include media_S { display: none; }
}

.wrap-main-logo img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

  ///////////////
 //NEWS SLIDER//
///////////////

.news-slider {
    position: absolute;
    box-shadow: 0 0 .3em rgba(0,0,0,1);
    background-color: white;
    opacity: 0.9;
    top: 20em;
    left: 3em;
    height: 340px;
    width: 296px;
    padding: 1em;
    line-height: 1.3;
    overflow: hidden;
    z-index: 100;
    @include media_S {
        position: absolute;
        width: 100%;
        left: auto;
        top: auto;
        bottom: 0;
        margin-bottom: 0;
        opacity: 1;
    }
    a {
        text-decoration: none;
        color: $gray_0;
    }
    .news-title {
        font-weight: 700;
        font-size: 1.05em;
    }
    .news-img {
        width: 100%;
        padding: .2em 0;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: auto;
            max-width: 100%;
            padding: .3em 0;
        }
    }
    .news-text {
        text-align: justify;
        font-size: .9em;
    }
}

  /////////////////////////
 //PRODUCTION HIGHTLIGHT//
/////////////////////////

.prodlight {
    @include media_S_L { display: none; }
    .prod-slider {
        a {
            color: $gray_0;
        }
        .prod-block {
            border: 1px solid $light-gray;
            background-color: white;
            color: $gray_0;
            height: 250px;
            width: 480px;
            padding: 1em;
            margin: 2em auto;
            .prod-wrap-img {
                height: 100%;
                float: left;
                display: table;
                width: 35%;
                .prod-img {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            .prod-text-block {
                float: right;
                width: 50%;
                padding-top: 1.2em;
                .prod-text-category {
                    float: left;
                    color: $orange;
                    text-align: left;
                    font-weight: 700;
                    font-size: 1em;
                    width: 100%;
                }
                .prod-text-title {
                    float: left;
                    font-size: 1.2em;
                    font-weight: 700;
                    width: 100%;
                }
                .prod-text-desc {
                    float: left;
                    font-size: .9em;
                }
            }
        }
    }
}

  ///////////
 //TOP NAV//
///////////

.navigation {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.8em;
    width: auto;
    line-height: 100%;
    .parent-names {
        text-transform: uppercase;
    }
    ul {
        li {
            display: block;
            position: relative;
            background:rgba(255,255,255,0.9);
            font-size: 1em;
            padding: .93em .5em;
            list-style-type: none;
            float: left;
            border-right: 1px solid white;
            z-index: 1000;
            &:hover { background-color: white; }
            a {
                text-decoration: none;
                float: left;
                color: $gray_0;
            }
        }

    }
    .second-lvl-nav {
        position: absolute;
        top: 2.35em;
        background-color: white;
        width: 550px;
        padding-top: .7em;
        .nav-element {
            display: block;
            width: 45%;
            float: left;
            padding: .5em .5em;
            img {
                display: block;
                float: left;
                padding-right: 1em;
            }
            i {
                display: block;
                float: left;
                padding-right: .3em;
                color: $gray_1;

            }
            .body-of-the-element {
                .header-of-the-element {
                    font-size: .8em;
                    font-weight: 700;
                    color: $gray_0;

                }
                .element-description {
                    font-size: .75em;
                }
            }
        }
    }
}

/* Отдельный стек для анимации меню*/
#nav-ofen-menu {
    display: none;
}
#nav-ofen-hover:hover #nav-ofen-menu {
    left: 0;
    display: block;
}

#nav-card-menu {
    display: none;
}
#nav-card-menu-hover:hover #nav-card-menu {
    left: -200px;
    display: block;
}

#nav-service-menu {
    display: none;
}
#nav-service-menu-hover:hover #nav-service-menu {
    right: 0;
    display: block;
}

#nav-info-menu {
    display: none;
}
#nav-info-menu-hover:hover #nav-info-menu {
    right: 0;
    display: block;
}

#nav-company-menu {
    display: none;
}
#nav-company-menu-hover:hover #nav-company-menu {
    right: 0;
    display: block;
}

#nav-contacts-menu {
    display: none;
}
#nav-contacts-menu-hover:hover #nav-contacts-menu {
    right: 0;
    display: block;
}
/* Конец стека*/

/* Конец навигации */

  ////////////////////
 //ОБЕРТКА КОНТЕНТА//
////////////////////

.content-wrapper {
    border-top: .2em solid $orange;
}

  /////////////
 //SIDE MENU//
/////////////

.side-menu {
    position: relative;
    margin-top: .3em;
    background-color: white;
    padding: 2em;
    @include media_S_L {
        padding: .3em;
        line-height: 1.1;
        font-size: .85em;
    }

    .side-search {
        position: relative;
        height: 1em;
        padding-left: 1em;
        padding-bottom: 1em;
        @include media_S_L { display: none; }
        .search-field {
            width: 100%;
            border-radius: 0;
            color: $gray_2;
        }
        .search-submit {
            position: absolute;
            right: 1%;
            top: .5em;
        }
    }
    ul {
        list-style-type: none;
        padding-top: 2em;

        a {
            text-decoration: none;
            text-align: left;
            color: $gray_0;
            &:hover { color: $orange; @include animation(.4s, .2s, .5s);}
        }


    }
}

  //////////////////////////
 //RIGHT SIDE OF THE PAGE//
//////////////////////////

.content-box {
    margin-top: .3em;
    background-color: white;
    padding: 2em;
    @include media_L { padding: .5em; };
    @include media_S { padding: 1em; };
    h1 {
        color: $gray_0;
        font-size: 2.1em;
        @include media_S { text-align: center; }
    }
    h2 {
        color: $gray_0;
        font-size: 1.8em;
        @include media_S {text-align: center;}
    }
    h3 {
        color: $gray_0;
        font-size: 1.4em;
        @include media_S { text-align: center; }
    }
    ul {
        list-style: square;
        list-style-position: outside;
        padding-left: 1em;
    }
}

  /////////
 //PAGES//
/////////

.pages-content {
    background-color: white;
    color: $gray_0;
    font-size: 1.1em;
    padding: 2em 8em;
    @include media_S_L { padding: .5em 1em; };
    h1 {
        font-size: 2.1em;
    }
    h2 {
        font-size: 1.9em;
    }
    h3 {
        font-size: 1.7em;
    }
    ul {
        list-style: square;
        list-style-position: outside;
        padding-left: 1em;
    }
    img {
        padding: .7em;
    }
    a {
        color: $orange;
    }
}

  ////////////////
 //CATALOG MAIN//
////////////////
.wrapper-for-cards {
    text-align: center;
}

.box-category {
    display: inline-block;
    vertical-align: middle;
    width: 172px;
    min-height: 320px;
    height: 360px;
    padding: 1em 1.5em;
    border: 1px solid white;
    @include media_S {
        width: 90%;
        min-height: none;
        height: none;
        border: none;
    }
    &:hover {
        box-shadow: 0 0 .3em rgba(0,0,0,0.3); @include animation(.4s, .2s, .5s);
        @include media_S { box-shadow: none;}
    }

    .list-item-text {
        vertical-align: bottom;
        position: relative;
        text-align: left;
        margin: 0;
        padding: 0;
        @include media_S {
            text-align: center;
        }
    }
    h2 {
        color: $gray_0;
        font-size: 1.15em;
        font-weight: normal;
        margin: .35em 0 .1em 0;
        @include media_S {
            font-size: 1.5em;
        }

    }
    p {
        font-size: .78em;
        margin-bottom: 0;
        padding-bottom: 0;
        color: $gray_0;
        @include media_S {
            font-size: 1.2em;
        }
    }
}

  //////////////////////
 //CATALOG BTN ON TOP//
//////////////////////

.btn-category {
    color: $gray_0;
    background: $light-gray;
    padding: 0 1em;
    margin: .25em .25em;
    width: 48%;
    text-decoration: none;
    border: none;
    text-transform: none;
    font-size: 1em;
    font-weight: 400;
    &:hover {color: $orange; @include animation(.4s, .2s, .5s);}
    @include media_S_L {width: 100%;}
}

  //////////////
 //ITEMS PAGE//
//////////////

.box-items {
    display: inline-block;
    vertical-align: middle;
    width: 185px;
    min-height: 240px;
    height: 260px;
    padding: 1em 1.5em;
    position: relative;
    border: 1px solid white;
    @include media_S {
        width: 90%;
        min-height: none;
        border: none;
    }
    &:hover { box-shadow: 0 0 .3em rgba(0,0,0,0.3); @include animation(.4s, .2s, .5s);
        @include media_S { box-shadow: none;}
    }

    .list-item-text {
        vertical-align: bottom;
        position: relative;
        text-align: left;
        margin: 0;
        padding: 0;
        @include media_S {
            text-align: center;
        }
    }

    h2 {
        color: $gray_0;
        font-size: 1.15em;
        font-weight: normal;
        margin: .35em 0 .1em 0;
        @include media_S {
            font-size: 1.4em;
        }

    }
    p {
        font-size: .78em;
        margin-bottom: 0;
        padding-bottom: 0;
        color: $gray_0;
        @include media_S {
            font-size: 1em;
        }
    }
    hr {
        margin: 0;
        padding: 0;
    }
    .wrap-img {
        min-height: 190px;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

  /////////////
 //ITEM PAGE//
/////////////
.img-detail img {
    max-width: 100%;

}

.details {
    .ico-doc {
        text-decoration: none;
        color: $gray_0;
        &:hover { color: $orange; @include animation(.4s, .2s, .5s);}
    }
}

  ///////
 //BUY//
///////

.dealers-page {
    background-image: url(/static/assets/img/back-for-dillers.png);
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: right top;
}

.wrapper-company-holder {
    text-align: center;
    h3 {
        text-align: left;
        a {
            text-decoration: none;
            color: $gray_0;
        }
    }
}

.company-holder {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    margin: 1em;
    padding: 1em;
    width: 40%;
    border: 1px solid $gray_2;
    .title {
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column; /* column | row */
        text-transform: uppercase;
        // text-align: center;
        min-height: 4em;
    }
    hr {
        margin: .5em;
    }
    .wrapper-body-company {
        text-align: right;
        .lable {
            color: $gray_2;
            text-align: left;
        }
        a {
            text-decoration: none;
            &:hover {text-decoration: underline;}
        }

    }
}

  ////////////
 //FEEDBACK//
////////////

.feedback {
    .feedback-title {
        font-size: 1.3em;
    }
    .default-form-handler {
        /* Здесь можно указать поля, границы для заявки */
        dt {
            color: $gray_1;
        }
        dd {
            margin-left: 0;
        }
        .comm-form-hold input, textarea {
            width: 60%;
            border-radius: 0;
            @include media_L { width: 75%; }
            @include media_S { width: 98%; }
        }
        button {
            border-radius: 0;
        }
    }
}
  //////////
 //FOOTER//
//////////

.footer {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    background-color: $gray_2;
    line-height: 140%;
    font-size: 0.80em;
    color: $gray_0;
    z-index: 100;
    border-top: 1px solid $orange;
    @include media_S { text-align: center; float: none; line-height: 110%; font-size: 1em; }
    p {
        text-align: right;
        padding: 2em;
        @include media_S { text-align: center; }
    }
    ul {
        padding: 2em;
        display: block;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $gray_0;
        &:hover { text-decoration: underline; @include animation(.4s, .2s, .5s);}
    }
    img {
        padding-top: 2em;
    }
    .left-footer-menu {
        float: left;
    }
    .footer-img {
        text-align: center;
    }
    .d-cat {
        img {
            padding: 0;
            max-width: 150%;
        }
    }
    .footer-adress {

    }
}

  //////////////
 //ERROR PAGE//
//////////////

.error-page {
    text-align: center;
    color: $gray_1;
    .title {
        font: 4em sans-serif;
    }
    .text {
        font: 2.5em sans-serif;
    }
}

  //////////////
 //ERROR FORM//
//////////////

.errors {
    color: red;
}