$small: 480px;
$b_small: $small + 1;
$large: 1024px;
$l_large: $large - 1;
@mixin media_S {
    @media only screen and (max-width: $small) { @content; }
}
@mixin media_S_L(){
    @media only screen and (max-width: $l_large) { @content; }
}
@mixin media_L {
    @media only screen and (min-width: $b_small) and (max-width: $l_large) { @content; }
}
@mixin media_XL {
    @media only screen and (min-width: $large) { @content; }
}
// @include media_XL { display: none; }