/*
    Example usage:
    @include animation(10s, 5s, changecolour)
 */
// @mixin animation ($delay, $duration, $animation) {
//     -webkit-animation-delay: $delay;
//     -webkit-animation-duration: $duration;
//     -webkit-animation-name: $animation;
//     -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

//     -moz-animation-delay: $delay;
//     -moz-animation-duration: $duration;
//     -moz-animation-name: $animation;
//     -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

//     -o-animation-delay: $delay;
//     -o-animation-duration: $duration;
//     -o-animation-name: $animation;
//     -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

//     animation-delay: $delay;
//     animation-duration: $duration;
//     animation-name: $animation;
//     animation-fill-mode: forwards; /* this prevents the animation from restarting! */
// }


/*
    Example usage:
    @include animation(.4s, .2s, .5s);
 */
@mixin animation($delay, $duration, $opacity) {
    -webkit-transition: all $delay, color $duration, opacity $opacity;
    -ms-transition: all $delay, color $duration, opacity $opacity;
    -o-transition: all $delay, color $duration, opacity $opacity;
    -moz-transition: all $delay, color $duration, opacity $opacity;
    transition: all $delay, color $duration, opacity $opacity;
}

.flashes {
    padding: 0 20%;
    list-style-type: none;
    text-align: center;
    color: #545454;
    font-size: 2em;
    background-color: #FFF;
    z-index: 10000;
}

.floatright {
    display: block;
    float: right;
    padding: 30em;
}

.floatleft {
    float: left;
    padding-left: 0;
}

.small_img {
    width: 25%;
    height: auto;
}
.lite_img {
    width: 15%;
    height: auto;
}

.medium_img {
    width: 45%;
    height: auto;
}
.max_img {
    padding: 0 !important;
    width: 100%;
    height: auto;
}

.left-half {
    float: left;
    padding: 0 !important;
    width: 49.5%;
    height: auto;
}
.right-half {
    float: right;
    padding: 0 !important;
    width: 49.5%;
    height: auto;
}
.one-third-left {
    float: left;
    padding: 0 !important;
    width: 33.1%;
    height: auto;
}
.one-third-center {
    float: center;
    padding: 0 !important;
    width: 33.1%;
    height: auto;
}
.one-third-right {
    float: right;
    padding: 0 !important;
    width: 33.1%;
    height: auto;
}

.hide_img img {
    display: none;
}

.clear {
    clear:both;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  td {
    border-color: grey;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
  }
}
// fix for Jquery accord
.ui-state-focus { outline: none; }

.kusatek-tumb {
    img {
        padding: .1em;
        float: left;
    }
}
// Переделываю поведение лайтбокса, что бы можно было писать с новой строки
.lb-data .lb-caption {
  white-space: pre !important;
}