{% extends "layout.html" -%}

{% block title -%}Где купить? {% endblock -%}

{% block description -%}{% endblock -%}

{% block keywords -%}{% endblock -%}

{% block content -%}
    <div class="pages-content content-wrapper">
        <h2>Наши дилеры</h2>
        <div class="wrapper-company-holder">
            <div class="company-holder">
                <span></span>
                <br>
                <span></span>
                <br>
                <span></span>
                <br>
                <span></span>
                <br>
            </div>
            <div class="company-holder">
                <span></span>
                <br>
                <span></span>
                <br>
                <span></span>
                <br>
                <span></span>
                <br>
            </div>
        </div>
        <div class="clear"></div>
        <hr>
            {{ def_contact_form() }}
    </div>
{% endblock -%}