    {% extends "layout.html" -%}

{% block title -%}Где купить? {% endblock -%}

{% block description -%}{% endblock -%}

{% block keywords -%}{% endblock -%}

{% block content -%}
    <div class="pages-content content-wrapper">
        <h2>Наши дилеры</h2>
        <hr>
        <div class="wrapper-company-holder" id="accordion">
            <h3><a href="#">Абакан (5)</a></h3>
            <div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
            </div>
            <h3><a href="#">Астана (3)</a></h3>
            <div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
            </div>
            <h3><a href="#">Воронеж (0)</a></h3>
            <div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
                <div class="company-holder matchheight">
                    <div class="title-wrapper">
                        <div class='title'>Супер мега спа технологии и коммуникации</div>
                    </div>
                    <hr>
                    <div class="wrapper-body-company">
                        <span class="lable"><i>Сайт:</i></span>
                        <a href="http://lol.ru" target="_blank">http://lol.ru</a>
                        <br>
                        <span class="lable"><i>Телефон:</i></span>
                        <a target="_blank" href="tel:+74956655192">+7 (495) 66 55 192</a>
                        <br>
                        <span class="lable"><i>E-mail:</i></span>
                        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <hr>
            {{ def_contact_form() }}
    </div>
    {% block user_scripts%}
        <script>
        accordion;
        </script>
    {% endblock -%}
{% endblock -%}