{% extends "layout.html" -%}

{% block title -%} {% endblock -%}

{% block description -%} {% endblock -%}

{% block keywords -%} {% endblock -%}
{% block header -%}{{ super() }}{% endblock -%}
{% block nav -%}{{ super() }}{% endblock -%}

{% block content -%}

<div class="row">

    <!-- Здесь сайдбар -->
    {% block sidebar_item -%}{{ super() }}{% endblock -%}
    <!-- Конец сайдбара -->
    <!-- Main Fraim Begin
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="content-box nine columns omega">

        {# Если это страница товара
        ======================================= -#}
        {% if item_page -%}
        <div class="five columns alpha">
            {%set path_to_img = 'content/items/' + item_page['img'][0]['filename']%}
            <img src="{{ url_for('static', filename=path_to_img) }}" height="417" width="280">
        </div>
        <div class="">
            <h1>{{ item_page['name'] }}</h1>
            {{ item_page['body']|markdown }}
            <hr>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        {# Если это Категория
        ======================================= -#}
        {% elif category_page -%}
            <h1>{{category_page['name']}}</h1>
            <p>{{category_page['mini_description']}}</p>

            {# Если это Категория с дочерними
            ======================================= -#}
            {%if category_page['child_category']|length > 0 %}
                {# Теперь итерируем дочерние категории в ней #}
                {% for i in category_page['child_category']-%}
                    <h2>{{i['name']}}</h2>
                    <hr>
                    {# Этот кусок должен фильтровать товары, который есть внутри #}
                    {% for item in items_from_child_category(i['name']) -%}
                        <a href="{{category_page['slug']}}/{{ item['slug'] }}"><div class="box-category">
                            {%set path_to_img = 'content/items/' + item['img'][0]['filename']%}
                            <img src="{{ url_for('static', filename=path_to_img) }}" height="245" width="170">
                            <div class="list-item-text">
                              <h2>{{ item['name'] }}</h2>
                              <p>{{ item['body']|truncate(50) }}</p>
                            </div>
                        </div></a>
                    {% endfor -%}
                    <div class="clear"></div>
                {% endfor-%}

            {# Если это Категория без дочерних
            ======================================= -#}
            {% else %}
                {% for item in items_from_main_category() -%}
                    <a href="{{category_page['slug']}}/{{ item['slug'] }}"><div class="box-category">
                        {%set path_to_img = 'content/items/' + item['img'][0]['filename']%}
                        <img src="{{ url_for('static', filename=path_to_img) }}" height="245" width="170">
                        <div class="list-item-text">
                          <h2>{{ item['name'] }}</h2>
                          <p>{{ item['body']|truncate(50) }}</p>
                        </div>
                    </div></a>
                {% endfor -%}
                <div class="clear"></div>
            {% endif %}
        <hr>
        <h3>Описание категории:</h3>
        <p>{{category_page['body']|markdown}}</p>
        {# Если это стартовая страница каталога
        ======================================= -#}
        {% else-%}
            <h1>Каталог</h1>
            {% for c in category() -%}
                <a href="{{ c['slug'] }}"><div class="box-category">
                {%set path_to_img = 'content/category/' + c['img'][0]['filename']%}
                <img src="{{ url_for('static', filename=path_to_img) }}" height="245" width="170">
                <div class="list-item-text">
                  <h2>{{ c['name'] }}</h2>
                  <p>{{ c['mini_description']|truncate(75) }}</p>
                </div>
                </div></a>
            {% endfor -%}
        {% endif %}

    </div>
    <!-- Main Fraim End
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</div>
{% endblock -%}
