{% extends "layout.html" -%}

{% block title -%} {% endblock -%}

{% block description -%} {% endblock -%}

{% block keywords -%} {% endblock -%}

{% block content -%}

<div class="row">

    <!-- Здесь сайдбар -->
    {% block sidebar_item -%}{{ super() }}{% endblock -%}
    <!-- Конец сайдбара -->

    <!-- Main Fraim Begin
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="content-box nine columns omega">

      <div class="box-category">
      <img src="{{ url_for('static', filename='assets/examples/01.jpg') }}" height="245" width="170">
        <div class="list-item-text">
          <h2>Печи для сауны</h2>
          <p>Высококачественная печь для сауны</p>
        </div>
      </div>

      <div class="box-category">
      <img src="{{ url_for('static', filename='assets/examples/02.jpg') }}" height="245" width="170">
        <div class="list-item-text">
          <h2>Печь для сауны S-Line</h2>
          <p>Эксклюзивные печи для саун, красивый дизайн и неизменная надежность</p>
        </div>
      </div>
      <div class="box-category">
      <img src="{{ url_for('static', filename='assets/examples/03.jpg') }}" height="245" width="170">
          <div class="list-item-text">
              <h2>Системы управления сауной</h2>
              <p>Легкий способ управления Вашей сауной.</p>
          </div>
      </div>
      <div class="box-category">
      <img src="{{ url_for('static', filename='assets/examples/04.jpg') }}" height="245" width="170">
      <div class="list-item-text">
          <h2>Парогенераторы</h2>
          <p>Парогенераторы и принадлежности EOS</p>
        </div>
      </div>
      <div class="box-category">
      <img src="{{ url_for('static', filename='assets/examples/05.jpg') }}" height="245" width="170">
        <div class="list-item-text">
          <h2>Цветное освещение</h2>
          <p>Наслаждайтесь положительными эмоциями, которые неизменно вызовет от цветного освещения</p>
        </div>
      </div>
      <div class="box-category">
      <img src="{{ url_for('static', filename='assets/examples/06.jpg') }}" height="245" width="170">
        <div class="list-item-text">
          <h2>Оборудование для ИК кабин</h2>
          <p>Инфракрасные лучи согревают Ваше тело изнутри, что благоприятно сказывается на здоровье.</p>
        </div>
      </div>
      <div class="box-category">
      <img src="{{ url_for('static', filename='assets/examples/07.jpg') }}" height="245" width="170">
        <div class="lmtext">
          <h2>Дозирующие станции</h2>
          <p>Дозирующие станции EOS премиум качества</p>
        </div>
      </div>
      <div class="box-category">
      <img src="{{ url_for('static', filename='assets/examples/08.jpg') }}" height="245" width="170">
        <div class="clistItemtext">
          <h2>Аксессуары</h2>
          <p>Принадлежности для сауны EOS</p>
        </div>
      </div>
    </div>
    <!-- Main Fraim End
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</div>
{% endblock -%}
