{% extends "layout.html" -%}

{% block title -%} {% endblock -%}

{% block description -%} {% endblock -%}

{% block keywords -%} {% endblock -%}
{% block header -%}{{ super() }}{% endblock -%}
{% block nav -%}{{ super() }}{% endblock -%}

{% block content -%}

<div class="row">

    <!-- Здесь сайдбар -->
    {% block sidebar_item -%}{{ super() }}{% endblock -%}
    <!-- Конец сайдбара -->

    <!-- Main Fraim Begin
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="content-box nine columns omega">
        {% for c in category2 -%}
            <div class="box-category">
            {%set path_to_img = 'content/category/' + c['img'][0]['filename']%}
            <img src="{{ url_for('static', filename=path_to_img) }}" height="245" width="170">
            <div class="list-item-text">
              <h2>{{ c['name'] }}</h2>
              <p>{{ c['mini_description']|truncate(75) }}</p>
            </div>
            </div>
        {% endfor -%}
    </div>
    <!-- Main Fraim End
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</div>
{% endblock -%}
