    {% extends "layout.html" -%}

{% block title -%}Где купить {% endblock -%}

{% block description -%}Где купить опборудование для саун, турецкийх бань от надежных европейских производителей: EOS, WDT, Lux Elements, Float SPA, Baldus, Ideal{% endblock -%}

{% block keywords -%}где купить оборудование eos, eos, eos premium, еос премиум, где купить оборудование для саун и хамамов из Германии.{% endblock -%}

{% block content -%}
    <div class="pages-content content-wrapper dealers-page">
        <h1>Где купить</h1>
        <hr>
        <div class="wrapper-company-holder" id="accordion">
            {% for c in city %}
                <h3 {{loop.cycle('style="background-color: lightblue;"', 'style="background-color: red;"')}}><a href="#">{{ c }}</a></h3>
                <div>
                    {% for i in d(c) %}
                        <div class="company-holder matchheight" >
                            <div class="title-wrapper">
                                <div class='title'>{{i['name']}}</div>
                            </div>
                            <hr>
                            <div class="wrapper-body-company">
                                <span class="lable"><i>Сайт:</i></span>
                                <a href="{{ i['site'] }}" target="_blank">{{ i['site'] }}</a>
                                <br>
                                <span class="lable"><i>Телефон:</i></span>
                                {% for t in i['tel'] %}
                                    {% if '8800' in t %}
                                        <a target="_blank" href="tel:{{t}}">{{t}}</a>
                                    {% else %}
                                        <a target="_blank" href="tel:+{{t}}">+{{t}}</a>
                                    {% endif %}
                                {% endfor %}
                                <br>
                                <span class="lable"><i>E-mail:</i></span>
                                <a href="mailto:info@eos-sauna.ru">{{ i['email'] }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="clear"></div>
        <hr>
            {{ def_contact_form() }}
    </div>
    {% block user_scripts%}
        <script>
        accordion;
        </script>
    {% endblock -%}
{% endblock -%}