{% extends "layout.html" -%}

{% block title -%}Главная {% endblock -%}

{% block description -%} {% endblock -%}
{% block keywords -%}печи для саун и бань, парогенераторы для хамамов, влагостойкие панели, eos, еос, оборудование для саун{% endblock -%}
{% block user_css %} <style type="text/css"> .main-page-banner{background: url({{ url_for('static', filename='content/bg_index/'+bg()) }}) repeat-y left bottom;}</style>{% endblock %}</style>
{% block header -%}
    <div class="header-main-page">
        {%block flags -%}{{super()}}{% endblock %}
    </div>{% endblock-%}
{% block content -%}
<div class="main-page-banner twelve columns">
    <div class="wrap-main-logo">
          <img src="{{ url_for('static', filename='assets/img/content-header-eos-logo-rus.png') }}" alt="EOS-Премиум-СПА Технологии" height="167" width="270">
    </div>
    {# Поставил здесь пустой блок, что бы не грузить его для главной страницы #}
    {% block nav%}{% endblock%}
    {# Подключаем строчку навигации, и за счет того, что она
    в div  main-page-banner, перезаписывается значение на top и она
    прилипает в картинке #}
    {%include 'top_nav.html'%}
    <div class="news-slider">
    <div>
        <a href="#"><div class="news-title">
                    <span>Выставка в Штудгарде ну и конечно длинющий заголовок =(</span>
                </div>
                <div class="news-img">
                <img src="holder.js/190x140">
                </div>
                <div class="news-text">
                <p>Такие вот в общем делишки. Ну и думаю, можно обрезать на этом месте уже.. Ибо нехрен.. =)
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </p>
                </div></a>
    </div>
    <div>
        Вот
    </div>
    </div>
</div>

{% endblock -%}

{% block user_scripts %}
    <!-- Include the plugin *after* the jQuery library -->
      <script>
          $(document).ready(function(){
            // Слайдер с главной страницы
            $('.news-slider').slick({
                arrows: false,
                dots: true,
                autoplay: true,
                autoplaySpeed: 6000,
            });
          });
      </script>
{% endblock %}
