{% set alt1 = "Тип печи: 2 x KUSATHERM 90
Горелка: 6 x 30 kW
Облицовка печи: Кладка из натурального камня.
Ввод в эксплуатацию: 14.10.2015
Особенности:  Печь для сауны расположена в центре бани. Горелки в техническом помещении под сауной." %}
{% set alt2 = "Тип печи: KUSATHERM 60
Горелка: 2 x 30 kW
Облицовка печи: Облицовка из мрамора, рама из нержавеющей стали.
Ввод в эксплуатацию: 09.09.2013
Особенности: Корзина для камней со сферическим парообразователем." %}
{% set alt3 = "Тип печи: KUSATHERM 90
Горелка: 3 x 30 kW
Облицовка печи: Облицовка из мрамора, рама из нержавеющей стали.
Ввод в эксплуатацию: 09.09.2013
Особенности: Корзина для камней со сферическим парообразователем. Горелки в техническом помещении под сауной." %}
{% set alt4 = "Тип печи: KUSATHERM 90
Горелка: 3 x 30 kW
Облицовка печи: Облицовка из цветного песчаника, карьер Niederwörresbach.
Ввод в эксплуатацию: 25.03.2010 " %}
{% set alt5 = "Тип печи: KUSATHERM 90
Горелка: 3 x 30 kW
Облицовка печи: Облицовка в виде вагонетки.
Ввод в эксплуатацию: 23.10.2014
Особенности: Горелки расположены над печью, техническое помещение под сауной." %}
{% set alt6 = "Тип печи: 2 x KUSATHERM 60
Горелка: 4 x 30 kW
Облицовка печи: Отделка облицовочным камнем.
Ввод в эксплуатацию: 14.10.2011
Особенности: Между двумя печами установлен газовый камин." %}
{% set alt7 = "Тип печи: KUSATHERM 60
Горелка: 2 x 30 kW
Облицовка печи: ProMat и натуральный мрамор.
Ввод в эксплуатацию: 02.01.2013
Особенности: Ароматическая кофейная баня." %}
{% set alt8 = "Тип печи: KUSATHERM 90
Горелка: 3 x 30 kW
Облицовка печи: Jeremias - DW 130.
Ввод в эксплуатацию: 21.12.2012
Особенности: Специальная технология создает эффект теплого ветра." %}
{% set alt9 = "Тип печи: KUSATHERM 50
Горелка: 2 x 25 kW
Облицовка печи: Отделка плиткой, имитация кирпичной кладки.
Ввод в эксплуатацию: 11.11.2009
Особенности: Коммерческая эксплуатация, сауна 90 °C в аквапарке Бентхайм, Бад-Бентхайм." %}
{% set alt10 = "Тип печи: KUSATHERM 50
Горелка: 2 x 25 kW
Облицовка печи: Двойная Fermacell.
Ввод в эксплуатацию: 11.12.2014
Особенности: Сауна с панорамным стеклом и видом на горы, Südtriol." %}
{% set alt11 = "Тип печи: KUSATHERM 50
Горелка: 2 x 25 kW
Облицовка печи: Кирпич из красного клинкера.
Ввод в эксплуатацию: 01.11.2009
Особенности: Сауна расположена на мансарде исторического крытого бассейна. " %}
{% set alt12 = "Тип печи: KUSATHERM 50
Горелка: 2 x 25 kW
Облицовка печи: Оштукатуренный бетон.
Ввод в эксплуатацию: 25.06.2011
Особенности: Калахари, Африканская-сауна 65 °C в термальном комплексе Хольстен, Kaltenkirchen." %}
{% set alt13 = "Тип печи: KUSATHERM 90
Горелка: 3 x 30 kW
Облицовка печи: Каменная кладка.
Ввод в эксплуатацию: 20.06.2016
Особенности: Трубы из подсобки к каменке закладываются под основанием пола." %}
{% set alt14 = "Тип печи: KUSATHERM 50
Горелка: 2 x 25 kW
Облицовка печи: Черный гранит.
Ввод в эксплуатацию: 20.06.2011
Особенности: Горелки в тех. помещении под сауной. Вентилятор в основании подсобного помещения рядом с сауной." %}
{% set alt15 = "Тип печи: KUSATHERM 50
Горелка: 2 x 25 kW
Облицовка печи: Черный гранит.
Ввод в эксплуатацию: 20.06.2011
Особенности: Горелки в тех. помещении под сауной. Вентилятор в основании подсобного помещения рядом с сауной." %}
{% set alt16 = "Тип печи: KUSATHERM 50
Горелка: 2 x 25 kW
Облицовка печи: Черный гранит.
Ввод в эксплуатацию: 20.06.2011
Особенности: Газовая печь для сауны совмещенная с камином для создания уютной атмосферы." %}
{% set alt17 = "Тип печи: KUSATHERM 60
Горелка: 2 x 30 kW
Облицовка печи: Двойная облицовка:  Promat + вагонка натурального дерева.
Ввод в эксплуатацию: 07.03.2014
Особенности: Сауна расположена на крыше отеля.
" %}
{% set alt18 = "Тип печи: KUSATHERM 90
Горелка: 3 x 30 kW
Облицовка печи: Двойная облицовка:  Promat + вагонка натурального дерева
Ввод в эксплуатацию: 08.05.2015
Особенности: Сауна оснащена телевизором, звуковым модулем, функцией моросящего дождя и тумана." %}
{% set alt19 = " Тип печи: KUSATHERM 50
Горелка: 2 x 25 kW
Облицовка печи: Stones like Stones (Fa. Müther).
Ввод в эксплуатацию: 04.07.2013
Особенности: Газовый камин расположен за печью." %}
{% set alt20 = "Тип печи: KUSATHERM 90
Горелка: 3 x 30 kW
Облицовка печи: Каменная кладка.
Ввод в эксплуатацию: 20.02.2013
Особенности: Вся сауна исполнена в отделке из каштанового дерева. Трубы прокладываются в основании под полом. Техническое помещение рядом с сауной." %}
<div class="clear">
        <br>
        <div class="kusatek-tumb">

        <div><a href="{{ url_for('img', filename='items/kus/1.jpg') }}" data-lightbox="roadtrip" data-title="{{alt1}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/1_thumb.jpg') }}" alt="{{alt1}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/2.jpg') }}" data-lightbox="roadtrip" data-title="{{alt2}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/2_thumb.jpg') }}" alt="{{alt2}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/3.jpg') }}" data-lightbox="roadtrip" data-title="{{alt3}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/3_thumb.jpg') }}" alt="{{alt3}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/4.jpg') }}" data-lightbox="roadtrip" data-title="{{alt4}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/4_thumb.jpg') }}" alt="{{alt4}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/5.jpg') }}" data-lightbox="roadtrip" data-title="{{alt5}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/5_thumb.jpg') }}" alt="{{alt5}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/6.jpg') }}" data-lightbox="roadtrip" data-title="{{alt6}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/6_thumb.jpg') }}" alt="{{alt6}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/7.jpg') }}" data-lightbox="roadtrip" data-title="{{alt7}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/7_thumb.jpg') }}" alt="{{alt7}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/8.jpg') }}" data-lightbox="roadtrip" data-title="{{alt8}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/8_thumb.jpg') }}" alt="{{alt8}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/9.jpg') }}" data-lightbox="roadtrip" data-title="{{alt9}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/9_thumb.jpg') }}" alt="{{alt9}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/10.jpg') }}" data-lightbox="roadtrip" data-title="{{alt10}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/10_thumb.jpg') }}" alt="{{alt10}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/11.jpg') }}" data-lightbox="roadtrip" data-title="{{alt11}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/11_thumb.jpg') }}" alt="{{alt11}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/12.jpg') }}" data-lightbox="roadtrip" data-title="{{alt12}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/12_thumb.jpg') }}" alt="{{alt12}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/13.jpg') }}" data-lightbox="roadtrip" data-title="{{alt13}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/13_thumb.jpg') }}" alt="{{alt13}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/14.jpg') }}" data-lightbox="roadtrip" data-title="{{alt14}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/14_thumb.jpg') }}" alt="{{alt14}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/15.jpg') }}" data-lightbox="roadtrip" data-title="{{alt15}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/15_thumb.jpg') }}" alt="{{alt15}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/16.jpg') }}" data-lightbox="roadtrip" data-title="{{alt16}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/16_thumb.jpg') }}" alt="{{alt16}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/17.jpg') }}" data-lightbox="roadtrip" data-title="{{alt17}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/17_thumb.jpg') }}" alt="{{alt17}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/18.jpg') }}" data-lightbox="roadtrip" data-title="{{alt18}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/18_thumb.jpg') }}" alt="{{alt18}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/19.jpg') }}" data-lightbox="roadtrip" data-title="{{alt19}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/19_thumb.jpg') }}" alt="{{alt19}}" height='200'></a></div>
        <div><a href="{{ url_for('img', filename='items/kus/20.jpg') }}" data-lightbox="roadtrip" data-title="{{alt20}}" itemprop="image"><img src="{{ url_for('img', filename='items/kus/20_thumb.jpg') }}" alt="{{alt20}}" height='200'></a></div>
<!--
        <div><img src="{{ url_for('img', filename='items/kus/2_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/3_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/4_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/5_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/6_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/7_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/8_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/9_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/10_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/11_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/12_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/13_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/14_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/15_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/16_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/1_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/17_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/18_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/19_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus/20_thumb.jpg') }}" alt="" height='200'></div> -->
        </div>


