<div class="clear">
        <br>
        <div class="kusatek-tumb">
        <div><img src="{{ url_for('img', filename='items/kus_thumb/1_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/2_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/3_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/4_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/5_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/6_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/7_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/8_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/9_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/10_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/11_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/12_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/13_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/14_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/15_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/16_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/1_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/17_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/18_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/19_thumb.jpg') }}" alt="" height='200'></div>
        <div><img src="{{ url_for('img', filename='items/kus_thumb/20_thumb.jpg') }}" alt="" height='200'></div>
        </div>