{% from "macros.html" import def_contact_form, def_servise_request_form with context -%}
{%set name_of_the_page= request.base_url.split('/')[-1:][0]%}
<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="utf-8">
  <title>{% block title -%}{% endblock -%} | ЕОС-Премиум. Оборудование для саун, хамамов и СПА</title>
  <meta name="description" content="{% block description -%}{% endblock -%}">
  <meta name="keywords" content="{% block keywords -%}{% endblock -%}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/skeleton/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/skeleton/skeleton.css') }}">

  <link type="text/css" rel="Stylesheet" href="{{ url_for('static', filename='assets/vendor/basic-jquery-slider/bjqs.css') }}" />
  <link type="text/css" rel="Stylesheet" href="{{ url_for('static', filename='assets/vendor/lightbox/css/lightbox.css') }}" />
  <link type="text/css" rel="Stylesheet" href="{{ url_for('static', filename='assets/vendor/font-awesome/css/font-awesome.min.css') }}" />
  <link type="text/css" rel="Stylesheet" href="assets/vendor/basic-jquery-slider/bjqs.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
  {% block user_css%}{% endblock %}
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
</head>
<body>
<div id="lightbox-shadow"></div>
  {% block header -%}<div class="header"></div>{% endblock-%}
  <div class="container">
      {% block nav -%}
        <div class="row">
          <div class="content-header twelve columns">
            <a href="{{url_for('catalog')}}" title="Каталог продукции"><img class="logo-content-header" src="{{ url_for('static', filename='assets/img/content-header-eos-logo-rus.png') }}" alt="EOS-Премиум-СПА Технологии" height="167" width="270"></a>

            {# Navigation
            ======================================= -#}

            {% include 'top_nav.html' %}

          </div>
        </div>
      {% endblock-%}

    {% block content -%}
      {# Sidebar begin
      ======================================= -#}
      {% block sidebar_item -%}
        <div class="side-menu three columns">

        <div class="side-search">
          <input class="search-field" id="" name="" value="Поиск" onfocus="" type="text">
          <input class="search-submit" src="{{ url_for('static', filename='assets/img/find-ico.gif') }}" alt="Найти" type="image">
        </div>
        <ul>
          {% for c in category() -%}

          <li><a href="{{url_for('catalog', category_slug=c['slug'])}}">{{ c['name'] }}</a></li>
          {% endfor -%}
        </ul>
        </div>
      {% endblock-%}
      {# Sidebar End
      ======================================= -#}
    {% endblock -%}


  {# Footer begin
  ======================================= -#}
  <div class="footer row">
    <div class="left-footer-menu two columns">
    <ul>
      <li><a href="/catalog/">Обзор продуктов</a></li>
      <li><a href="/pages/servisnyi_centr">Сервисный центр</a></li>
      <li><a href="http://www.eos-sauna.com/ru/servisnyi-centr/software-downloads">Загрузка ПО</a></li>
      <li><a href="/pages/o_kompanii">О компании</a></li>
    </ul>
    </div>
    <div class="left-footer-menu two columns">
    <ul>
      <li><a href="/pages/novosti">Новости</a></li>
      <li><a href="/pages/sotrudniki">Сотрудники</a></li>
      <li><a href="/pages/sotrudniczestvo">Сотрудничество</a></li>
      <li><a href="/pages/obratnaja_svjaz">Обратная связь</a></li>
    </ul>
    </div>
    <div class="one column">&nbsp;</div>
    <div class="one column">
      <img src="{{ url_for('static', filename='assets/img/eos-made-in-germany.png') }}">
    </div>
    <div class="two columns">&nbsp;</div>
    <div class="one column">
      <img src="{{ url_for('static', filename='assets/img/eos-sauna-logo-footer.png') }}">
    </div>
    <div class="three columns">
      <p>
        ООО "ЕОС Премиум-СПА-Технологии"<br>
        Россия, г. Москва,<br>
        Киевское шоссе, БП Румянцево<br>
        Строение 1, корп. Г, оф. 928<br>
        +7 (495) 66 55 192<br>
        <a href="mailto:info@eos-sauna.ru">info@eos-sauna.ru</a>
      </p>
    </div>
  </div>
  {# Footer end
  ======================================= -#}
  {# End big container #}
  </div>


  {# Scripts
  ======================================= -#}
  <script src="{{ url_for('static', filename='assets/vendor/jQuery/jquery-1.11.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/holder-js/holder.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/lightbox/js/lightbox.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/basic-jquery-slider/js/bjqs-1.3.min.js') }}"></script>
  {% block user_scripts%}{% endblock %}
  {# End Docement
  ======================================= -#}
</body>
</html>