{% from "macros.html" import def_contact_form, def_servise_request_form, def_build_request_form with context -%}
{%
  set name_of_the_page = request.base_url.split('/')[-1:][0]
%}
<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="utf-8">
  <title>
    {%- block title -%}{%- endblock -%} | ЕОС-Премиум. Оборудование для саун, хамамов и СПА</title>
  <meta name="description" content= "{% block description -%}{% endblock -%}">
  <meta name="keywords" content="{%- block keywords -%}{%- endblock -%}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Hbgnm230cjP7_-IybGUiezL4JnSAl75Ir22jzB1pQUQ" />
  {% assets "css_all" -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets -%}
  {% assets "scss_all" -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets -%}
  {% block user_css%}
  {% endblock -%}
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png') }}?v=4">
</head>
<body>
  {% with messages = get_flashed_messages() -%}
    {% if messages -%}
      <ul class=flashes>
      {% for message in messages -%}
      <li>{{ message }}</li>
      {% endfor -%}
      </ul>
    {% endif -%}
  {% endwith -%}
  <div id="lightbox-shadow"></div>
  {% block header -%}
    <div class="header">
      {% block flags -%}
        <div class="container">
          <div class="flags twelve columns">
            <a href="{{config['EOS_DE_URL']}}" title="">
              <img src="{{url_for('static', filename='assets/img/de.gif')}}" alt="">
            </a>
            <a href="{{config['EOS_EN_URL']}}" title="">
              <img src="{{url_for('static', filename='assets/img/en.gif')}}" alt="">
            </a>
          </div>
        </div>
      {% endblock -%}
    </div>
  {% endblock -%}
    <div class="container">
      {% block nav -%}
        <div class="row">
          <div class="content-header twelve columns">
              <a href="{{url_for('catalog')}}" title="Каталог продукции">
                <img class="logo-content-header" src="{{ url_for('static', filename='assets/img/content-header-eos-logo-rus.png') }}"
                alt="EOS-Премиум-СПА Технологии" height="167" width="270">
              </a>
              {# Navigation
              ======================================= -#}
              {% include 'top_nav.html' -%}
          </div>
        </div>
      {% endblock-%}

      {% block content -%}
        {# Sidebar begin
        ======================================= -#}
        {% block sidebar_item -%}
          <div class="side-menu three columns matchheight">
            <!-- <div class="side-search">
              <input class="search-field" id="" name="" value="Поиск" onfocus="" type="text">
              <input class="search-submit"
                src="{{ url_for('static', filename='assets/img/find-ico.gif') }}" alt="Найти" type="image">
            </div> -->
            <a href="/doc/2016.pdf" target="_blank"><div class="catalog-banner">Открыть каталог EOS 2017</div></a>
            <ul>
              {% for c in category() -%}
              <li><a href="{{url_for('catalog', category_slug=c['slug'])}}">{{ c['name'] }}</a></li>
              {% endfor -%}
            </ul>
          </div>
        {% endblock-%}
        {# Sidebar End
        ======================================= -#}
      {% endblock -%}

      <div class= 'clear'></div>
    {# Scroll top! -#}
    <div class="scroll-top-wrapper ">
      <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-up"></i>
      </span>
    </div>
  {# End big container -#}
  </div>
    {# Footer begin
    ======================================= -#}
    <div class="footer row">
      <div class="container">
        <div class="twelve columns">
          <div class="left-footer-menu two columns">
            <ul>
              <li><a href="/catalog/">Обзор продуктов</a></li>
              <li><a href="/pages/servisnyi_centr">Сервисный центр</a></li>
              <li><a href="/pages/software_downloads" target="_blank">Загрузка ПО</a></li>
              <li><a href="/pages/o_kompanii">О компании</a></li>
            </ul>
          </div>
          <div class="left-footer-menu two columns">
            <ul>
              <li><a href="/pages/novosti">Новости</a></li>
              <li><a href="/pages/sotrudniki">Сотрудники</a></li>
              <li><a href="/pages/sotrudniczestvo">Сотрудничество</a></li>
              <li><a href="/pages/obratnaja_svjaz">Обратная связь</a></li>
            </ul>
          </div>
          <div class="three columns footer-img">
            <img id="img-map" src="{{ url_for('static', filename='assets/img/social.png') }}" border="0" width="172" height="110" orgWidth="172" orgHeight="110" usemap="#img-map-social" alt="" />
            <map name="img-map-social" id="ImageMapsCom-img-map-social">
            <area  alt="" title="Вконтакте" href="https://vk.com/eospremium" shape="rect" coords="0,0,60,54" style="outline:none;" target="_blank"     />
            <area  alt="" title="Facebook" href="https://www.facebook.com/eospremium" shape="rect" coords="60,0,119,54" style="outline:none;" target="_blank"     />
            <area  alt="" title="Twitter" href="https://twitter.com/eospremium" shape="rect" coords="120,0,172,54" style="outline:none;" target="_blank"     />
            <area  alt="" title="Youtube" href="https://www.youtube.com/channel/UCam9iA-0PIkgU-HlvQLLnfA" shape="rect" coords="0,55,60,119" style="outline:none;" target="_blank"     />
            <area  alt="" title="Google +" href="https://plus.google.com/u/0/+EOSPremiumspa/posts" shape="rect" coords="60,55,117,110" style="outline:none;" target="_blank"     />
            <area  alt="" title="Instagram" href="https://www.instagram.com/eospremium/" shape="rect" coords="118,55,172,110" style="outline:none;" target="_blank"     />
            <area shape="rect" coords="170,108,172,110" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
            </map>
          </div>
          <div class="two columns d-cat">
            <a href="{{url_for('doc', filename='2016.pdf')}}" title="Скачать каталог"><img src="{{url_for('static', filename='assets/img/d-cat.png')}}" alt=""></a>
            <br>
            <a href="/pages/zapros"><img src="{{ url_for('static', filename='assets/img/banner_stroi.png') }}" alt=""></a>
          </div>
          <div class="three columns footer-adress">
            <p itemscope itemtype="http://schema.org/Organization">
              <span itemprop="name">ООО "ЕОС Премиум-СПА-Технологии"</span><br>

              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressCountry">Россия</span>, <span itemprop="addressLocality">г. Москва</span>, м. Румянцево,<br>
                <span itemprop="streetAddress">Киевское шоссе, БП Румянцево<br>
                Строение 1, корп. Г</span>, оф. 928<br></span>

              <a target="_blank" href="tel:+74956655192"><span itemprop="telephone">+7 (495) 66 55 192</span></a><br>
              <a target="_blank" href="tel:88001000539"><span itemprop="telephone">8 800 1000 539</span><br>(звонок бесплатный)</a><br>
              <a href="mailto:info@eos-sauna.ru"><span itemprop="email">info@eos-sauna.ru</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  {# Footer end
  ======================================= -#}
  {# Scripts
  ======================================= -#}
  {% assets "js_all" -%}
     <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets -%}
  {% block user_scripts%}{% endblock -%}
  {{ config['METRICS']|safe}}
  {# End Docement
  ======================================= -#}
</body>
</html>
