{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro def_contact_form() -%}
    <div class="detail-card-body-prop"><p>Обратная связь:</p></div>
    <div class="default-form-handler add-bottom">
        <form role="form" action="" method="post">
            <div class="comm-form-hold">
                {{ render_field(form.name, class="animation") }}
            </div>
            <div class="comm-form-hold">
                {{ render_field(form.email, class="animation") }}
            </div>
            <div class="comm-form-hold">
                {{ render_field(form.phone, class="animation") }}
            </div>
            <div class="comm-form-hold">
                {{ render_field(form.body, class="animation") }}
            </div>
            <button type="submit" name="btn" class="animation" value="Send">Отправить</button>
        </form>
    </div>
{%- endmacro -%}