{% extends "layout.html" -%}

{% block title -%}Новости {% endblock -%}

{% block description -%}Новинки индустрии оборудования для саун, турецких бань и СПА зоны. Обзоры, статьи, применение, примеры использования и особенности эксплуатации.{% endblock -%}

{% block keywords -%}печи для саун, eos, еос, wdt, lux elements, baldus, ideal, float spa, новости, спа, сауна, хамам, турецкая баня, спа зона, оборудование для спа{% endblock -%}

{% block content -%}
    <div class="pages-content content-wrapper">
        <h2>Новости</h2>
        <hr>
        {% for n in news -%}
            <p><i>{{n['date']}}</i></p>
            <h3>{{n['name']}}</h3>
            <div class="hide_img">
                <p>{{n['body']|truncate(400)|replace('**', '')|replace('*', '')|replace('##', '')|replace('###', '')|replace('#', '')|markdown}}</p>
            </div>
            <p><a href="{{ url_for('news', slug=n['slug']) }}">Читать далее...</a></p>
            <div class= 'clear'></div>
            <hr>
        {% endfor%}
    </div>
{% endblock -%}