{% extends "layout.html" -%}

{% block title -%}Новости {% endblock -%}

{% block description -%}{% endblock -%}

{% block keywords -%}{% endblock -%}

{% block content -%}
    <div class="pages-content">
        <h2>Новости</h2>
        <hr>
        {% for n in news -%}
            <p><i>{{n['date']}}</i></p>
            <h3>{{n['name']}}</h3>
            <p>{{n['body']|truncate(350)|replace('**', '')|replace('*', '')|replace('##', '')|replace('###', '')|replace('#', '')}}</p>
            <p><a href="{{ url_for('news', slug=n['slug']) }}">Читать далее...</a></p>
            <div class= 'clear'></div>
            <hr>
        {% endfor%}
    </div>
{% endblock -%}