{% extends "layout.html" -%}

{% block title -%}{{page['name']}}{% endblock -%}

{% block description -%}{{page['meta_description']}}{% endblock -%}

{% block keywords -%}{{page['meta_keywords']}}{% endblock -%}

{% block content -%}
    <div class="pages-content">
        {{page['section']}} > {{page['name']}}
        <hr>
        {{page['body']|markdown}}
        {% if name_of_the_page != 'servisnyi_centr' %}
            {{ def_contact_form() }}
        {% else %}
            {{ def_servise_request_form() }}
        {% endif %}
    </div>
{% endblock -%}