{% extends "layout.html" -%}

{% block title -%}{{page['name']}} {% endblock -%}

{% block description -%}{{page['meta_description']}}{% endblock -%}

{% block keywords -%}{{page['meta_keywords']}}{% endblock -%}

{% block content -%}
    <div class="pages-content content-wrapper">
        {{page['section']}} > {{page['name']}}
        <hr>
        {{page['body']|markdown}}
        {% if name_of_the_page == 'servisnyi_centr' %}
            {{ def_servise_request_form() }}
        {% elif name_of_the_page == 'zapros' %}
            {{ def_build_request_form() }}
        {% elif name_of_the_page == 'zaprosit_katalog' %}
            {{ def_postmail_request_form() }}
        {% else %}
            {{ def_contact_form() }}
        {% endif %}
    </div>
{% endblock -%}