<div id="top-line-navigation" class="navigation">
  <ul>
    {# Раскрыващееся меню реализовал через классы css искать строчку в css 'Отдельный стек...'
    ======================================= -#}
    <li ><a href="/" class="parent-names" title="Главная страница">Главная</a></li>
    <li id="nav-card-menu-hover" ><a href="{{url_for('catalog')}}" class="parent-names" title="Каталог товаров">Товары</a>
      <div class="second-lvl-nav" id="nav-card-menu">
        {# Раскрываем пункты навигации
        ======================================= -#}
        {% for c in category() -%}
          {% set path_to_img = 'category/' + c['img'][0]['filename'] -%}
          {% set thumb = path_to_img|thumbnail('50x70') -%}
          <div class="nav-element">
            <a href="{{url_for('catalog', category_slug=c['slug'])}}" title="{{c['name']}}">
              <img src="{{ thumb }}" height="70" width="50">
              <div class="body-of-the-element">
                <span class="header-of-the-element">{{ c['name'] }}</span>
                <br>
                <span class=element-description>{{ c['mini_description']|truncate(60) }}
                </span>
              </div>
            </a>
          </div>
        {% endfor -%}
      </div>
    </li>
    <li id="nav-service-menu-hover">
      <a href="#" class="parent-names" title="">
        Сервисное обслуживание
      </a>
      <div class="second-lvl-nav" id="nav-service-menu">
        {# Пункты навигации
        ======================================= -#}
        {% for p in pages() -%}
          {% if p['section'] == 'Сервисное обслуживание'%}
            <div class="nav-element">
              <a href="{{url_for('page', slug=p['slug'])}}" title="{{p['name']}}">
                <i class='fa {{p['thumb']}} fa-4x'></i>
                <div class="body-of-the-element">
                  <span class="header-of-the-element">{{p['name']}}</span>
                  <br>
                  <span class="element-description">{{p['mini_description']}}</span>
                </div>
              </a>
            </div>
          {% endif -%}
        {% endfor -%}
      </div>
    </li>
    <!-- <li ><a href="{{url_for('dealers')}}" class="parent-names" title="Главная страница">Где купить</a></li> -->
    <li id="nav-company-menu-hover" ><a href="#" class="parent-names" title="">Компания</a>
      <div class="second-lvl-nav" id="nav-company-menu">
        {# Пункты навигации
        ======================================= -#}
        {% for p in pages() -%}
          {% if p['section'] == 'Компания'%}
            <div class="nav-element">
              <a href="{{url_for('page', slug=p['slug'])}}" title="{{p['name']}}">
                <i class='fa {{p['thumb']}} fa-4x'></i>
                <div class="body-of-the-element">
                  <span class="header-of-the-element">{{p['name']}}</span>
                  <br>
                  <span class=element-description>{{p['mini_description']}}</span>
                </div>
              </a>
            </div>
          {% endif -%}
        {% endfor -%}
      </div>
    </li>
    <li id="nav-contacts-menu-hover"><a href="#" class="parent-names" title="">Контакты</a>
      <div class="second-lvl-nav" id="nav-contacts-menu">
        {# Пункты навигации
        ======================================= -#}
        {% for p in pages() -%}
          {% if p['section'] == 'Контакты'%}
            <div class="nav-element">
              <a href="{{url_for('page', slug=p['slug'])}}" title="{{p['name']}}">
                <i class='fa {{p['thumb']}} fa-3x'></i>
                <div class="body-of-the-element">
                  <span class="header-of-the-element">{{p['name']}}</span>
                  <br>
                  <span class=element-description>{{p['mini_description']}}
                  </span>
                </div>
              </a>
            </div>
          {% endif -%}
        {% endfor -%}
      </div>
    </li>
  </ul>
</div>